* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.img_size{
  width: 24px;
  height: 24px;
  margin:30px;
  align-content: center;
}

.img_size_raph{
  width: 235px;
  height: 350px;
  margin:10px;
  position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #3d6ded;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 120px;
}

.card {
  align-items: center;
  background-image: linear-gradient(to bottom right, white, lightgray);
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
}

.nav-item {
  align-items: center;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.nav-test{
  list-style: none;
  text-align: center;
  background-color: #01AAAD;
  width: 150px;margin:0;
  line-height: 60px;
  float: left;
}

.nav-home {
  text-align: right;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.nav-about {
  text-align: left;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.nav-contact {
  text-align: center;
  color: #3d6ded;
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.block {
  /*display: block;*/
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.navbar{
  position: center;
  align-items: center;
  display: flex;
}
.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
